.counter-person {
  > h3 {
    margin-bottom: 20px;
  }
  .counter3 {
    > h3 {
      color: #9E3BBB;
    }
    .main {
      display: flex;
      .handler {
        .input-number {
          margin-right: 10px;
        }
        > button {
          margin-right: 10px;
        }
      }
      .result {
        margin-left: 30px;
        font-size: 24px;
        .num {
          font-weight: 500;
        }
      }
    }
  }  
}

.person {
  > h3 {
    color: #9E3BBB;
  }
  .add-person {
    display: flex;
    > input {
      width: 230px;
      margin-right: 10px;
    }
  }
  .show-person {
    width: 535px;
    margin-left: 10px;
  }
}