.todolist {
  display: flex;
  width: 660px;
  height: 560px;
  outline: 1px solid #666;
  .todo, .dust {
    flex: 1;
    padding: 10px 14px 10px 10px;
    overflow: auto;
    .show {
      > li {
        margin-bottom: 10px;
      }
      input {
        margin-left: 8px;
        width: 280px;
      }
    }
  }
  .todo {
    margin-right: 1px;
    border-right: 1px solid #ccc;
    .todo-header {
      margin-bottom: 10px;
      input {
        width: 236px;
        margin-right: 10px;
      }
    }
  }
  .dust {
    margin-left: 1px;
    border-left: 1px solid #ccc;
  }
}